# NetBeans specific #
nbproject/private/
/build/
nbproject/project.properties
/dist/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

